.text {
	font-family: Arial, sans-serif;
	color: white;
}

hr.footerline {
	border: 2px solid #303030;
}

.img {
	width: 50px;
	padding: 5px;
}

a:link, a:visited, a:hover, a:active {
	color: transparent;
}