.text {
	font-family: Arial, sans-serif;
	color: white;
}

hr.footerline {
	border: 2px solid #303030;
}

.img {
	width: 50px;
	padding: 5px;
}

footer a:link, footer a:visited, footer a:hover, footer a:active {
	color: transparent;
}