.text {
	font-family: Arial, sans-serif;
	color: white;
}

.box {
	background-color: #303030;
	margin-left: 5%;
	margin-bottom: 20px;
	width: 40%;
	border: 4px solid #303030;
	border-radius: 25px;
	padding: 10px;
	display: inline-block;
}

@media (orientation: portrait) {
.box {
	background-color: #303030;
	margin-left: 10%;
	margin-bottom: 20px;
	width: 80%;
	border: 4px solid #303030;
	border-radius: 25px;
	padding: 10px;
	display: inline-block;
	}
}

.box-title {
	text-align: center;
	margin-top: -0.2em;
	margin-bottom: -0.2em;
}

.body {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #261f3e;
	background-image: url("assets/images/background-main.jpg");
	background-size: 100%, auto;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #606060; 
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #303030; 
}

.bg2 {
	background-image: url("assets/images/blue.jpg");
	background-size: 626px;
	background-color: black;
}

.big-box {
	background-color: #303030;
	margin-left: 25%;
	margin-bottom: 20px;
	width: 50%;
	border: 4px solid #303030;
	border-radius: 25px;
	padding: 10px;
	display: inline-block;
}

.big-image {
	width: 99.5%;
	border: 2px solid white;
	border-radius: 16px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

hr.footerline {
	border: 2px solid #303030;
}

.icon {
	width: 40px;
	height: auto;
	padding: 4px;
}

.video {
	width: 99.5%;
	border: 2px solid white;
	border-radius: 16px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.project-image {
	width: 99.5%;
	border: 2px solid white;
	border-radius: 16px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.download-link {
	text-align: center;
}

.download-link a:visited, a:link {
	color: white;
}

.download-link a:hover, a:active {
	color: #bbbbbb;
}

.button {
	color: white;
	background-color: #303030;
	margin-left: 5%;
	padding: 10px 15px;
	border: 2px solid #303030;
	border-radius: 20px;
	display: inline-block;
}

.button:hover {
	transform: translateY(-4px);
	box-shadow: 4px 10px 4px black;
}

.button-2 {
	color: white;
	background-color: #303030;
	margin-left: 1%;
	padding: 10px 15px;
	border: 2px solid #303030;
	border-radius: 20px;
	display: inline-block;
}

.button-2:hover {
	transform: translateY(-4px);
	box-shadow: 4px 10px 4px black;
}

.p-align {
	margin-left: 5%;
}

@media (orientation: portrait) {
	.button {
		font-size: 4vw;
		padding: 10px 20px;
		border-radius: 35px;
	}
	
	.button-2 {
		font-size: 4vw;
		padding: 10px 20px;
		border-radius: 35px;
	}
	
	.p-align {
		font-size: 4vw;
	}
	
	.h-size {
		font-size: 7vw;
	}
	
	.box-title {
		font-size: 5vw;
		text-align: center;
		margin-top: -0.2em;
		margin-bottom: -0.2em;
	}
	
	.box-text {
		font-size: 4vw;
	}
	
	.icon {
		width: 8vw;
		height: auto;
		padding: 0.5vw;
	}
	
	.body {
		background-image: url("assets/images/background-vertical.jpg"); 
		background-attachment: scroll;
	}
	
	.big-box {
		background-color: #303030;
		margin-left: 10%;
		margin-bottom: 20px;
		width: 80%;
		border: 4px solid #303030;
		border-radius: 25px;
		padding: 10px;
		display: inline-block;
	}
	.download-link {
		font-size: 4vw;
	}
}

footer a:link, footer a:visited, footer a:hover, footer a:active {
	color: transparent;
}