.text {
	font-family: Arial, sans-serif;
	color: white;
}

.box {
	width: 40%;
	border: 4px solid #303030;
	border-radius: 25px;
	padding: 10px;
	display: inline-block;
}

body {
	background-color: black;
	background-image: url("assets/images/background-main.jpg");
	background-size: 100%, auto;
}

@media (orientation: portrait){
body {
	background-image: url("assets/images/background-vertical.jpg"); 
	}
}

hr.footerline {
	border: 2px solid #303030;
}

.img {
	width: 40px;
	height: auto;
	padding: 4px;
}

footer a:link, footer a:visited, footer a:hover, footer a:active {
	color: transparent;
}