.text {
	font-family: Arial, sans-serif;
	color: white;
}

.box {
	background-color: #303030;
	margin-left: 5%;
	margin-bottom: 20px;
	width: 40%;
	border: 4px solid #303030;
	border-radius: 25px;
	padding: 10px;
	display: inline-block;
}

@media (orientation: portrait) {
.box {
	background-color: #303030;
	margin-left: 5%;
	margin-bottom: 20px;
	width: 80%;
	border: 4px solid #303030;
	border-radius: 25px;
	padding: 10px;
	display: inline-block;
	}
}

.body {
	background-color: black;
	background-image: url("assets/images/background-main.jpg");
	background-size: 100%, auto;
	background-repeat: no-repeat;
}

.body-solid {
	background-color: black;
	background-image: url("assets/images/blue.jpg");
}

@media (orientation: portrait) {
.body {
	background-image: url("assets/images/background-vertical.jpg"); 
	}
}

hr.footerline {
	border: 2px solid #303030;
}

.img {
	width: 40px;
	height: auto;
	padding: 4px;
}

.video {
	width: 99.5%;
	border: 2px solid white;
	border-radius: 16px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.project-image {
	width: 99.5%;
	border: 2px solid white;
	border-radius: 16px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.button {
	color: white;
	background-color: #303030;
	margin-left: 5%;
	padding: 10px 15px;
	border: 2px solid #303030;
	border-radius: 20px;
	display: inline-block;
}

.button:hover {
	transform: translateY(-4px);
	box-shadow: 4px 10px 4px black;
}

.button-2 {
	color: white;
	background-color: #303030;
	margin-left: 1%;
	padding: 10px 15px;
	border: 2px solid #303030;
	border-radius: 20px;
	display: inline-block;
}

.button-2:hover {
	transform: translateY(-4px);
	box-shadow: 4px 10px 4px black;
}

.p-align {
	margin-left: 5%;
}

@media (orientation: portrait) {
	.button {
		font-size: 4vw;
		padding: 10px 20px;
		border-radius: 35px;
	}
	.p-align {
		font-size: 4vw;
	}
	.h-size {
		font-size: 7vw;
	}
	.box-title {
		font-size: 5vw;
		text-align: center;
		margin-top: -0.2em;
		margin-bottom: -0.2em;
	}
	.box-text {
		font-size: 4vw;
	}
}

footer a:link, footer a:visited, footer a:hover, footer a:active {
	color: transparent;
}